.user-posts {
    padding: 34px 8px;
}

.delete-icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;

    svg {
        color: var(--primary);

        &:hover {
            color: var(--dark);
        }
    }
}