.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-box svg {
    width: 46px;
    height: 46px;
    margin-bottom: 16px;
    color: var(--secondary);
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: white;
    border-radius: 8px;
    box-shadow:
        0 10px 24px hsla(0, 0%, 0%, 0.05),
        0 20px 48px hsla(0, 0%, 0%, 0.05),
        0 1px 4px hsla(0, 0%, 0%, 0.1);

    label {
        font-weight: bold;
        margin-bottom: 4px;
        color: var(--secondary)
    }

    input {
        width: 240px;
        height: 32px;
        border-radius: 6px;
        border: 1px solid var(--primary);
        margin-bottom: 24px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        height: 38px;
        line-height: 14px;
        margin: 0;
        padding: 0 12px;
        color: white;
        background-color: var(--primary);
        border: none;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: var(--secondary);
        }

        &:disabled {
            background-color: var(--primary-light);
            cursor: not-allowed;
        }
    }

    .error-text {
        color: var(--error);
        width: min-content;
    }
}

.login-text {
    font-size: 14px;
    margin-top: 40px;
}

.login-link {
    text-decoration: none;
    color: var(--primary);

    &:hover {
        color: var(--secondary)
    }
}