:root {
    --primary: #557798;
    --primary-light: #dadfe3;
    --secondary: #436485;

    --light-bg: #f1f2f3;
    --dark: #304c69;

    --error: #d07878;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;
    color: var(--dark);
    background-color: var(--light-bg);
}

* {
    box-sizing: border-box;
}